
.rating_items {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
}

.rating_item {
    cursor: pointer;
    color: black;
}

.rating_item::before {
    content: '★';
    display: block;
}

.rating_item:hover ~ .rating_item,
 .rating_item:hover {
    color: red;
}



