.chess {
    border-collapse: collapse;
}

td {
    border: 1px solid grey;
    width: 50px;
    height: 50px;
    background-color: black;
}
tr:nth-of-type(odd)>td:nth-of-type(odd) {
    background-color: white;
}

tr:nth-of-type(even)>td:nth-of-type(even) {
    background-color: white;
}

tr:first-of-type>td:first-of-type, 
tr:first-of-type>td:last-of-type,
tr:last-of-type>td:first-of-type,
tr:last-of-type>td:last-of-type {
    height: 20px;
    width: 20px;
}

tr>td:first-of-type, tr>td:last-of-type {
    height: 50px;
    width: 20px;
    border: 1px solid blueviolet;
    background-color: green !important;
}
tr:first-of-type>td, tr:last-of-type>td {
    height: 20px;
    width: 50px;
    border: 1px solid blueviolet;
    background-color: green !important;
}

